#h1 {
    text-align: center;
    margin-bottom: 50px;
    font-weight: bold;
}

#movieTitle,
#imdb,
#year {
    text-align: center;
}

img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

#movieTitle {
    font-weight: bold;
}

#container1 {
	margin: 0 auto;
    margin-bottom: 15px;
}

#h5 {
    font-weight: bold;
}

#poster {
    margin: 0 auto;
}

#year {
	margin-top: 10px;
}

